PORT=5000

MONGO_URI=mongodb://oisheekc_db_user:oisheek1234@ac-apgdaaz-shard-00-00.cg9m8de.mongodb.net:27017,ac-apgdaaz-shard-00-01.cg9m8de.mongodb.net:27017,ac-apgdaaz-shard-00-02.cg9m8de.mongodb.net:27017/?ssl=true&replicaSet=atlas-11pm8a-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=supersecretjwtkey